.ft-h1 { //64
    font-size: $font-h1;
}

.ft-h2 { //48
    font-size: $font-h2;
}

.ft-h3 { //36
    font-size: $font-huge;
}

.ft-p1 { //24
    font-size: $font-large ;
}

.ft-p2 { //20
    font-size: $font-medium;
}

.ft-p3 { //16
    font-size: $font-small ;
}

.ft-p4 { //14
    font-size: $font-tiny ;
}

.ft-w1 {
    font-weight: 100;
}

.ft-w2 {
    font-weight: 200;
}

.ft-w3 {
    font-weight: 300;
}

.ft-w4 {
    font-weight: 400;
}

.ft-w5 {
    font-weight: 500;
}

.ft-w6 {
    font-weight: 600;
}

.ft-w7 {
    font-weight: 700;
}

.ft-w8 {
    font-weight: 800;
}

.ft-w9 {
    font-weight: 900;
}

.ft-wb {
    font-weight: bold;
}

.ft-sit {
    font-style: italic;
}

.ta-ct{
    text-align: center;
}

.va-md{
    vertical-align: middle;
}

.ft-white {
    color: white;
}

.ft-black {
    color: black;
}

.ft-brightRed {
    color: $color-redA;
}

.ft-deepRed {
    color: $color-redB;
}

.ft-grey {
    color: $color-grey;
}

.bg-lightRed {
    background: #FBF2F2;
}

.mouse-pt{
    cursor: pointer;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-sa {
    display: flex;
    justify-content: space-around;
}

.flex-ai-center{
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mb4 {
    margin-bottom: 4px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb16 {
    margin-bottom: 16px;
}

.mb24 {
    margin-bottom: 24px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb36 {
    margin-bottom: 36px;
}

.mb48 {
    margin-bottom: 48px;
}

.mb80 {
    margin-bottom: 80px;
}

.mr20{
    margin-right: 20px;
}

.mt48{
    margin-top: 48px;
}