// 字型大小
$font-h1: 64px;
$font-h2: 48px;
$font-huge: 36px;
$font-large: 24px;
$font-medium: 20px;
$font-small: 16px;
$font-tiny: 14px;

// 配色
$color-redA: #AA0601;
$color-redB: #650300;
$color-grey: #707070;