<header>
    <div class="container flex-sb flex-ai-center">
    <div class="logo"><a href="index.html"><img src="../assets/images/logo-white.png" alt="logo"></a></div>
    <ul class="menu flex-sb">
        <li><a href="#" class="ft-p2">系列鏡框</a></li>
        <li><a href="#" class="ft-p2">門市據點</a></li>
        <li><a href="#" class="ft-p2">部落格</a></li>
        <li><a href="#" class="ft-p2">常見問題</a></li>
    </ul>
</div>
</header>