.form-text {
    width: 100%;
    padding: 6px 12px;
    margin-top: 8px;
    background: #FBF2F2;
    border: 1px solid black;
    line-height: 1.5;
}

.form-index-textarea {
    height: 136px;
}

.form-index-myPolicy {
    display: flex;
}


.form-index-checkbox {
    width: 21px;
    height: 21px;
    margin-right: 4px;
}

.select-branch-option {
    flex-grow: 1;
    margin-left: 16px;
    font-size: 18px;
    color: #495057;
    padding: 6px 12px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("/assets/images/arrow.png") no-repeat;
    background-position: 95%;
    border: 1px solid #CED4DA;
}


@media (max-width:375px) {

    .form-index-checkbox {
        width: 24px;
        height: 24px;
    }


}