.form-text{
    width: 100%;
    padding: 6px 12px;
    margin-top: 8px;
    background: #FBF2F2;
    border: 1px solid black;
    line-height: 1.5;
}

.form-index-textarea{
    height: 136px;
}

.form-index-checkbox{
    width: 21px;
    height: 21px;
    vertical-align: bottom;
    margin-right: 4px;
    transform: translateY(2px);
}