header {
  background: $color-redA;

  .logo {
    img {
      width: 80px;
    }
  }

  .menu {
    gap: 64px;

    a {
      display: inline-block;
      padding: 25px 0 19px;
      color: white;

      &::after {
        content: '';
        display: block;
        width: 0%;
        height: 2px;
        margin-top: 4px;
        margin-left: auto;
        background: white;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
      }

      &:hover {
        &::after {
          content: '';
          width: 100%;
        }
      }
    }
  }
}

@media (max-width:680px) {
  header {
    .container {
      flex-wrap: wrap;
      padding: 0px;

      .logo {
        padding: 16px 15px;
      }

      .menu {
        flex-wrap: wrap;
        gap: 0px;
        text-align: center;
        width: 100%;

        li {
          width: 50%;
        }

        a {
          width: 100%;
          padding: 12px 0;
          border: 1px solid white;
        }
      }
    }
  }
}