.banner {
  background: url(/assets/images/home-header.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 296px 0;

  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      display: inline-block;
      padding: 6px 12px;
    }
  }
}

.service {
  padding: 80px 0;
  margin-bottom: 80px;

  .service-cards {
    gap: 24px 1%;

    .card {
      width: 22%;

      img {
        display: block;
        width: 100px;
        margin: 0 auto 16px;
      }
    }
  }
}

.series {
  margin-bottom: 80px;

  .series-items {
    gap: 1%;

    .item {
      width: 32%;

      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.joint {
  background: url(/LayoutClass_Week3/assets/images/index-bg.png) no-repeat fixed;
  background-size: cover;
  background-position-x: 25%;
  padding: 80px 0;

  h2 {
    color: white;
  }

  .item {
    background: white;
    width: 50%;

    p {
      padding: 8px;
    }

    &:first-child {
      p {
        border-right: 1px solid #DEE2E6;
      }
    }
  }
}

.review {
  .review-cards {
    gap: 24px 1%;

    .card {
      width: 23%;
      border: 1px solid #DEE2E6;
      box-shadow: 0px 2px 6px #00000029;
      border-radius: 4px;

      .content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 205px;
      }
    }
  }
}

.contactUs {
  max-width: 636px;
  margin: 0 auto;
  padding: 80px 0px;
}

@media (max-width:768px) {

  .banner {
    background: url(/assets/images/home-header-sm.png) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .service {
    .service-cards {
      .card {
        width: 48%;
      }
    }
  }

  .series {
    .series-items {
      gap: 24px;

      .item {
        width: 100%;

        img {
          display: block;
          width: 336px;
          margin: 0 auto;
        }
      }
    }
  }


  .joint {
    .joint-items {
      gap: 24px;

      .item {
        width: 100%;
      }
    }

  }

  .review {
    .review-cards {
      .card {
        width: 48%;
      }
    }
  }

  .contactUs {
    padding: 80px 30px;
  }

}


@media (max-width:650px) {

  .ft-h1,
  .ft-h2 {
    font-size: 24px;
  }

  .ft-h3 {
    font-size: 16px;
  }

  .ft-p2 {
    font-size: 16px;
  }


  .banner {
    background-size: cover;
    background-position: center;
    padding: 144px 0;

    .banner-content {
      h1 {
        margin-bottom: 8px;
      }
    }
  }

  .service {
    padding: 4dvb 0;
    margin-bottom: 40px;

    .service-cards {
      .card {
        width: 100%;
      }
    }
  }

  .series {
    margin-bottom: 40px;

    h2 {
      margin-bottom: 24px;
    }

    p {
      font-size: 48px;
    }

    .series-items {
      .item {
        img {
          width: 100%;
        }
      }
    }
  }

  .joint {
    padding: 40px 0;
    margin-bottom: 40px;

    h2 {
      margin-bottom: 24px;
    }

    .joint-items {

      .item {
        &:first-child {
          img {
            content: url('/assets/images/home-section4-1-sm.png');
          }
        }

        &:last-child {
          img {
            content: url('/assets/images/home-section4-2-sm.png');
          }
        }

        p {
          font-size: 48px;
        }
      }
    }
  }


  .review {
    margin-bottom: 40px;

    h2 {
      margin-bottom: 24px;
    }

    .review-cards {
      .card {
        width: 100%;
      }
    }
  }

  .contactUs {
    padding: 40px 0px;

    h2 {
      margin-bottom: 24px;
    }
  }








}